<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoTrash (Smart Trashcan Interface)</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body
        {
            background-image: url("static/base_background.jpg");
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3 align-self-center text-center"><img src="static/logo.svg" width="250px"></div>
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center" style="color: #00AEEF;font-family: Verdana;font-weight: bold; margin-top: 20px">IoTrash System Interface<br>Design & Analysis of IoT</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-top:2px solid black">
    {% block content %}
    {% endblock %}
</body>

</html>
